<!DOCTYPE html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-transparent static-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <span>Smart Bin</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link text-primary" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-secondary" href="{% url 'bin' %}">Bin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-warning" href="{% url 'location' %}">Location</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-danger" href="{% url 'locate' %}">Locate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-info" href="{% url 'garbage' %}">Garbage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{% url 'contain' %}">Contain</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-link" href="{% url 'maid' %}">Maid</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" href="{% url 'responsible' %}">Responsible</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-secondary" href="{% url 'registeredUser' %}">RegisteredUser</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-success" href="{% url 'register' %}">register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-warning" href="{% url 'message' %}">Message</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-danger" href="{% url 'send' %}">Send</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid bg-transparent">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>