<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<h1 align="center">Welcome to Smart Bin Rest API</h1>
<div align="center">
    <a href="{% url 'bin' %}" class="btn btn-outline-primary">
        <i class="fa fa-book" area-hidden="true">
            <span>Bin</span>
        </i>
    </a>
    <a href="{% url 'location' %}" class="btn btn-outline-secondary">
        <i class="fa fa-book" area-hidden="true">
            <span>Location</span>
        </i>
    </a>
    <a href="{% url 'locate' %}" class="btn btn-outline-success">
        <i class="fa fa-book" area-hidden="true">
            <span>Locate</span>
        </i>
    </a>
    <a href="{% url 'garbage' %}" class="btn btn-outline-warning">
        <i class="fa fa-book" area-hidden="true">
            <span>Garbage</span>
        </i>
    </a>
    <a href="{% url 'contain' %}" class="btn btn-outline-danger>
        <i class="fa fa-book" area-hidden="true">
            <span>Contain</span>
        </i>
    </a>
    <a href="{% url 'maid' %}" class="btn btn-outline-info">
        <i class="fa fa-book" area-hidden="true">
            <span>Maid</span>
        </i>
    </a>
    <a href="{% url 'responsible' %}" class="btn btn-outline-dark">
        <i class="fa fa-book" area-hidden="true">
            <span>Responsible</span>
        </i>
    </a>
    <a href="{% url 'registeredUser' %}" class="btn btn-outline-link">
        <i class="fa fa-book" area-hidden="true">
            <span>RegisteredUser</span>
        </i>
    </a>
    <a href="{% url 'register' %}" class="btn btn-outline-primary">
        <i class="fa fa-book" area-hidden="true">
            <span>Register</span>
        </i>
    </a>
    <a href="{% url 'message' %}" class="btn btn-outline-secondary">
        <i class="fa fa-book" area-hidden="true">
            <span>Message</span>
        </i>
    </a>
    <a href="{% url 'send' %}" class="btn btn-outline-success">
        <i class="fa fa-book" area-hidden="true">
            <span>Send</span>
        </i>
    </a>
</div>