#overlay-cnn {
    position: relative;
    margin-top: -35%;
    margin-left: 2%;
    margin-bottom: 1%;
    width: 50%;
    height: 50%;
}

#overlay-cnn-img {
    position: relative;
    margin-top: -30%;
    margin-right: 0%;
    margin-left: 60%;
    width:30%;
    height:30%;
}

@media only screen and (max-width: 812px) {
    #overlay-cnn {
        position: relative;
        margin-top: -40%;
        margin-left: 2%;
        margin-bottom: 1%;
        width: 50%;
        height: 50%;
    }
    #overlay-cnn-img {
        position: relative;
        margin-top: -40%;
        margin-right: 0%;
        margin-left: 60%;
        width:50%;
        height:50%;
    }
}

@media only screen and (max-width: 400px) {
    #overlay-cnn {
        position: relative;
        margin-top: -10%;
        margin-left: 0%;
        margin-bottom: 1%;
        width: 100%;
        height: 50%;
    }
    #overlay-cnn-img {
        position: relative;
        margin-top: -75%;
        margin-right: auto;
        margin-left:auto;
        width:70%;
        height:70%;
    }
}