#overlay-intro {
    position: relative;
    margin-top: -5%;
    margin-left: 40%;
    margin-bottom: 1%;
    width: 50%;
    height: 50%;
}
@media only screen and (max-width: 812px) {
    #overlay-intro {
        position: relative;
        margin-top: -15%;
        margin-left: 40%;
        margin-bottom: 1%;
        width: 50%;
        height: 50%;
    }
}

@media only screen and (max-width: 400px) {
    #overlay-intro {
        position: relative;
        margin-top: 0%;
        margin-left: 0%;
        margin-bottom: 1%;
        width: 100%;
        height: 50%;
    }
    #overlay-intro-img {
        position: relative;
        margin-top: 48%;
    }
}