body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#page-wrap {
  display: block;
  overflow: auto;
}

#Header {
  margin-left:0px;
}

#main {
  margin-left: 0px; /* Same as the width of the sidenav */
  font-size: 16px; /* Increased text to enable scrolling */
  padding: 0px 0px;
}

.display-3 {
  text-align: center;
}

.display-4 {
  text-align: center;
}

.row {
  margin-top: 1%;
  margin-right: 0px;
  margin-left: 0px;
}

.card-header {
  text-align: center;
}

.card-body {
  text-align: center;
}
